<%=form_for @my_profile_form, remote: :true, url: { action: "update"}, method: :patch, html: {class: "js-my-profile--basic"} do |f| %>

	<%#= render "profiles/my_profile", f: f %>

	<div id="box" style="margin-left: 200px; border: 1px solid red; height:100px; width: 100px;"></div>
	<%= f.text_field :instruments, data: { autocomplete_source: ARTIST_INSTRUMENTS }, placeholder: "ADD TITLE" %>
<% end %>
