language: ruby
rvm:
- 2.3.1
services:
- postgresql
before_script:
- cp config/database.yml.travis config/database.yml
- psql -c 'create database travis_ci_test;' -U postgres
script:
- export RAILS_ENV=test
- bundle exec rake db:migrate
- bundle exec rspec spec --require spec_helper --require rails_helper
before_install:
- openssl aes-256-cbc -K $encrypted_7d9a737078bb_key -iv $encrypted_7d9a737078bb_iv
  -in secrets.yml.enc -out config/secrets.yml -d
