<div class="auth-form-toggler">
	<h3 class="auth-form-toggler--selected" data-auth-type="login">
		LOGIN
	</h3>
	<div class="auth-form-toggler__separator">or</div>
	<h3 data-auth-type="signup">
		SIGN UP
	</h3>
</div>