<div class="auth-form--hidden auth-form__user-roles js-signup-primary" data-auth-type="signup">
	<div class="pure-u-1-4">
		<div class="auth-form__user-roles-button" data-user-role="musician">
			<div class="auth-form__user-roles-button__text" data-user-role="musician">I'M A MUSICIAN</div>
		</div>
	</div>
	<div class="pure-u-1-4">
		<div class="auth-form__user-roles-button" data-user-role="artist_employer">
			<div class="auth-form__user-roles-button__text" data-user-role="artist_employer">I'M AN EMPLOYER</div>
		</div>
	</div>
	<div class="pure-u-1-1">
		<button class="auth-form__next-button">NEXT</button>
	</div>
</div>