// scaling color light to dark (1-10)
$grey-1: rgb(214, 212, 212);
$grey-3: rgb(216, 216, 216);
$grey-4: rgb(96, 96, 96);
$grey-5: rgb(63, 63, 63);

$white: rgb(252, 252, 252);
$black: rgb(17, 17, 17);

$purple-1: rgb(223, 217, 224);
$purple-2: rgb(41, 7, 81);