body {
	font-size: 16px;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: $white;
	display: flex;
	flex-direction: column;
}

a, a:hover, a:visited {
	text-decoration: none;
}

html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {
	margin: 0;
	padding: 0;
}

ul,li {
	list-style-type: none;
}