<header class="header">
	<div class="header__banner">
		<%= link_to("LIVE MUSICALLY", home_path) %>
	</div>
	<div class="header__primary-actions">
		<%= render "shared/header/#{current_user.role}/primary_actions" %>
	</div>
	<div class="header__secondary-actions">
		<%= render "shared/header/#{current_user.role}/secondary_actions" %>
	</div>
</header>