<header class="header pure-g">
	<div class="header__logo pure-u-1-2">
		Live Musically (banner placeholder)
	</div>
	<div class="header__sign-up pure-u-1-2">
		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		<% else %>
			<%= link_to('Sign up / Login', auth_path) %>
		<% end %>
	</div>
</header>