<header class="header">
	<div class="header__logo">
		Live Musically (banner placeholder)
	</div>
	<div class="header__sign-up">
		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		<% else %>
			<%= link_to('Login', new_user_session_path) %>
		<% end %>
	</div>
</header>