/* flexbox implementation */

.my-profile-form {
  width: 100%;

  &__header {
    background-color: $header-color;
    color: $header-text-color;
    text-align: center;
    padding: 1%;

  }

  h4 {
    background-color: lightgrey;
    margin: unset;
    width: fit-content;
    padding: 10px 30px 10px 30px      
  }

  .user-info {

    .avatar-name-email-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5vh 0 5vh 0;

      > div {
        width: 50%;
      }

      .avatar-holder {
        margin-left: 20vw;
        width: fit-content;
      }

      .js-avatar {
        border-radius: 50%;
      }

      .name-email-password {
        display: flex;
        >div {
          display: inline-block;
          > .js-my-profile-user-info-input-group, .js-my-profile-user-password-input-group {
            display: block;
            background-color: transparent;
            border: unset;
            border-bottom: solid grey 1px;
            padding: 10px 150px 5px 5px;
          }
        }
      }


    }

    .about-social {
      display: flex;
      flex-direction: row;
      
      margin: 5vh 0 5vh 0;
      margin-left: 10vw;

      
      .about {
        display: flex;
        flex-direction: column;
        width: 60%;

        > textarea {
          width: 55vw;
          min-height: 30vh;
          border: grey solid 1px;
          border-radius: 2px;
          background-color: transparent;
          font-size: smaller;
        }

      }

      .social {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 10vw;

        >input {
          margin: 10px;
        }
      }
    }
  }

  .instruments-and-locations-container {
    display: flex;
    margin: 5vh 0 5vh 0;

    .instrument-wrapper, .location-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;

      &__subheader {
        width: 100%;
        text-align: center;
      }
    }

    .instrument-wrapper {
      margin-left: 10vw;
    }

    .location-wrapper {
      margin-left: auto;
      margin-right: 10vw;
    }

    .js-instrument-list-node, .js-location-list-node {
      display: flex;
      width: fit-content;
      padding: 5px;
      margin: 10px;
      background-color: white;
      border: grey solid 1px;
      border-radius: 3px;
    }

  }

  .playlist-container {
    display: flex;
    flex-direction: column;
    margin: 5vh 0 5vh 0;

    &__subheader {
      margin-left: 10vw;
      margin-right: 10vw;
      width: 80%;
      text-align: center;
    }

    .sc-and-yt-wrapper {
      display: flex;
      margin: 3vh 0 5vh 0;
    }

    .soundcloud-wrapper, .youtube-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40vw;

      &__subheader {
        width: 80%;
        text-align: center;
        background-color: transparent;
        border-bottom: grey solid 1px;
        margin-bottom: 10px;
      }

    }

    .soundcloud-wrapper {
      margin-left: 10vw;
    }

    .youtube-wrapper {
      margin-left: auto;
      margin-right: 10vw;
    }

    // .soundcloud-wrapper__subheader, .youtube-wrapper__subheader {
    //   width: fit-content;
    //   background-color: transparent;
    //   border-bottom: grey solid 1px;
    //   margin-bottom: 10px;
    // }

    .js-soundcloud-list-node, .js-youtube-list-node {
      display: flex;
      width: fit-content;
      padding: 5px;
      margin: 10px;
      background-color: white;
      border: grey solid 1px;
      border-radius: 3px;
    }
  }

}