.policy {
	&__container {
		margin: 0em 2em;
	}

	&__header {
		font-weight: bold;
		margin-bottom: 1em;
	}

	&__ordered-list {
		list-style-position: outside;
		margin: 0em 0em 1em 2em;

		&--arabic-numeral > li {
			list-style-type: decimal;
			margin-left: 1em;
			padding-left: 0.5em;
		}

		&--bulleted > li {
			list-style-type: disc;
			margin-left: 1em;
			padding-left: 0.5em;
		}

		&--latin-alphabet > li {
			list-style-type: upper-latin;
			margin-left: 3em;
			padding-left: 0.5em;
		}

		&--roman-numeral > li {
			list-style-type: upper-roman;
			margin-left: 1em;
			padding-left: 0.5em;
		}

		&--separated-list {
			margin-bottom: 1em;
		}

		&--within-list {
			margin-left: 0em;
		}
	}

	&__section {
		margin-bottom: 2em;
	}

	&__subheader {
		margin-bottom: 1em;
		text-decoration: underline;
	}

	&__text {
		margin-bottom: 1em;

		&--within-list {
			margin-left: -2em;
			margin-top: 1em;
		}
	}
}