<div class="js-subscription-info">
	<div>
		<h3>Membership Options</h3>
		<div>
			<h5>Annual Membership</h5>
			<div>$100</div>
			<button class="js-subscription-info__button" data-subscription-type="yearly" data-step="1">GET STARTED</button>
		</div>
		<div>
			<h5>Monthly Membership</h5>
			<div>$10</div>
			<button class="js-subscription-info__button" data-subscription-type="monthly" data-step="1">GET STARTED</button>
		</div>
	</div>

	<div>
		<h3>Membership Benefits</h3>
		<ul>
			<li><span><i class="glyphicon glyphicon-ok"></i></span>Searchable profile</li>
			<li><span><i class="glyphicon glyphicon-ok"></i></span>Message with employers</li>
			<li><span><i class="glyphicon glyphicon-ok"></i></span>Message with other musicians</li>
			<li><span><i class="glyphicon glyphicon-ok"></i></span>Apply for opportunities</li>
			<li><span><i class="glyphicon glyphicon-ok"></i></span>Get hired</li>
			<li><span><i class="glyphicon glyphicon-ok"></i></span>Get paid</li>
		</ul>
	</div>
</div>