<div class="search__cta">
	<div class="search__cta__text">Connecting Musicians</div>
	<div class="search__cta__text">With Opportunities</div>
	<div class="search__cta__text">All Over The City</div>
</div>