<section class="new-opp-form__section new-opp-form__section--half new-opp-form__section--row-offset">
	<h5>The Opportunity</h5>
	<%= f.text_field :title, placeholder: 'Title', class: "new-opp-form__input" %>
	<br />
	<%= f.text_area :description, placeholder: 'Describe the opportunity here...', size: "30x5" %>
</section>