<div class="auth-form--hidden auth-form__user-roles js-signup-primary pure-g" data-auth-type="signup">
	<div class="auth-form__user-roles__musician pure-u-1-2" data-user-role="musician">
		<div>
			<div data-user-role="musician">I'M A MUSICIAN</div>
		</div>
	</div>

	<div class="auth-form__user-roles__employer pure-u-1-2" data-user-role="artist_employer">
		<div>
			<div data-user-role="artist_employer">I'M AN EMPLOYER</div>
		</div>
	</div>
	<div class="auth-form__next-button pure-u-1-1">Next</div>
</div>