<div class="auth-form--hidden js-signup-primary" data-auth-type="signup">
	<h1 class="auth-form__user-role" data-user-role="musician">I'M A MUSICIAN</h1>
	<h1 class="auth-form__user-role" data-user-role="artist_employer">I'M AN EMPLOYER</h1>
	<div class="auth-form__next-button">Next</div>
</div>