<div class="auth-form-toggler">
  <h3 data-auth-type="login">
  	Login
  </h3>
  </br></br></br>
  <h3 data-auth-type="signup">
  	Sign Up
  </h3>
</div>

<%= render "user_signup_role" %>

<%= render "login" %>

<%= render "signup" %>

<%= render "devise/shared/links" %>