<div class="policy__container">
	<section class="policy__section">
		<h4 class="policy__header">TERMS OF SERVICE</h4>
		<p class="policy__text">
			Welcome to Live-Musically.com, a website (“website”, “site”, or “platform”) operated by Live Musically LLC. Please read these Terms & Conditions carefully before using this site.
		</p>
		<p class="policy__text">
			Live Musically LLC is responsible for the development of Live-Musically.com (“Live Musically”, “we”, “us”, or “our”) and all related data, software, APIs, and services (together with site, “our Services”.) We have created these Terms & Conditions (the “Terms”) to ensure a clear understanding between Live Musically and any person using our Services (“Users”, “you”, “your”). These Terms, along with our Privacy Policy, apply to your use of our Services.  We recommend that you download or print a copy of these Terms and Privacy Policy for future reference.
		</p>
		<p class="policy__text">
			By using our Services, you confirm that you accept these Terms and Privacy Policy and agree to comply with them. If you do not agree to these Terms, you must not use our Services. By accepting these Terms, you have also acknowledged that you are (i) 18 years of age or older, or (ii) 13 years of age or older with your parent(s)’ or legal guardian(s)’ permission.
		</p>
		<p class="policy__text">
			We reserve the right to amend these Terms at any time. Please check this page from time to time to take notice of any changes or updates, as they are binding on you.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Description of our Services</h4>
		<p class="policy__text">
			Live Musically is a website that allows people to hire musicians available to perform or teach. We create opportunities for our users to “live musically” by making live music and musicians accessible with the click of a button.  Our platform provides free and instant access to musicians where users can browse musician profiles to view rates, resumes, work samples, and reviews, directly communicate with musicians, and hire and pay with ease.
		</p>
		<p class="policy__text">
			For Registered Individual Musicians and Groups of Musicians (“Musicians”), our Services facilitate your connection and interaction with opportunities to perform or teach in your area. For Registered Employers (“Employers”), our Services facilitate your connection and interaction with Musicians in your area that you can hire to perform or teach.  We do this by allowing Employers to search for Musicians and browse Musicians’ profiles (together, “Browse”), which includes uploaded audio, video, photographs, professional experience and rate information, as well as schedule and pay for (together, “Hire”) Musicians to perform or teach. Employers can also create an opportunity posting for which Musicians can browse and apply (together, “Apply”).  Musicians’ applications are reviewed by the Employer who posts the opportunity. The Employer is under no obligation to Hire a Musician that submitted an application for an opportunity.
		</p>
		<p class="policy__text">
			Live Musically does not act as an agent, employer, or partner of Users and does not engage in the services of a Talent Agency. Live Musically simply acts as a platform allowing Users to connect and interact and the fee charged by Live Musically is for the use of the platform. Each transaction is subject to Live Musically’s applicable service charge and fees.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Your Account</h4>
		<div class="policy__section">
			<p class="policy__subheader">For Musicians:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Registration</li>
			</ol>
			<p class="policy__text">
				Musicians must create an account to gain access to certain Services, including the Browse, Apply and Hire capabilities of the platform. To register a Musician Profile, you must provide us with:
			</p>
			<ol class="policy__ordered-list policy__ordered-list--roman-numeral">
				<li>
					A valid email address and password, Facebook account, or Stripe account. The email address and password, Facebook account, or Stripe account that you provide will act as your sign-in credentials to access your account.
				</li>
				<li>
					Legal name. This name will be displayed to Employers who want to Browse and Hire you.
				</li>
				<li>
					Profile Picture. This will act as a visual representation of you to Employers.
				</li>
				<li>
					At least one YouTube video of you demonstrating your musical ability. This video gives Employers a preview of what to expect when they Hire you and gives you an opportunity to showcase your talent. This video will also be displayed on your Musician Profile. The video must be linked from YouTube. You will enter the URL of your YouTube video into the registration field provided.
				</li>
				<li>
					Zip code. This allows us to connect you with Employers near your home location.
				</li>
				<li>
					Your Instrument, Genres and Titles (whether you are an individual, soloist, ensemble or group).  This allows us to help Employers quickly Browse what they are looking for when Hiring.
				</li>
				<li>
					Desired Compensation. Indicate whether your rate is hourly or a flat fee. This allows us to help Employers understand what the market rate when Hiring.
				</li>
				<li>
					Information. This acts as your resume. Musicians must provide details on their professional background, performance capabilities and/or teaching experience. It helps Employers learn more about Musicians, i.e., if they perform at weddings or in orchestras, are comfortable teaching preschool aged children or if they prefer teaching high schoolers. This information will be valuable for Employers when deciding to Hire.
				</li>
			</ol> 
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Payment Information</li>
			</ol>
			<p class="policy__text">
				Musicians will be asked to subscribe to Live Musically’s Services and register a Stripe account before you can be Hired. This allows access to Live Musically’s Services and allows you to be compensated for certain Services, such as performing for or teaching a Employer that has hired you through the platform (hereafter, “Opportunity”). To add Payment Information to your Profile, you may provide us with:
			</p>
			<ol class="policy__ordered-list policy__ordered-list--roman-numeral">
				<li>
					Stripe Account Information. This may be the email address associated with your Stripe account, or you may be asked to log in and connect your Stripe account. By using this service, you expressly agree to the terms and conditions of the 
					<%= link_to "Stripe Services Agreement", "https://stripe.com/legal", target: "_blank" %> and the 
					<%= link_to "Stripe Privacy Policy", "https://stripe.com/privacy", target: "_blank" %>, as well as any updates or modifications to either of those documents made from time to time by Stripe.
				</li>
			</ol>
			<p class="policy__text">Please consult our Privacy Policy if you have any questions about how we will use information you submit.</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Account approval or rejection</li>
			</ol>
			<p class="policy__text">
				Upon receiving registration of a Musician Profile information from a Musician, Live Musically may review the account to ensure account information is complete and satisfactory. Upon review, an email will be sent to the Musician to notify the Musician regarding whether their account has been approved or rejected. Reasoning will be supplied when an account has been rejected and a musician may resubmit the registration information if desired. This email notification will be sent within 2 business days following the receipt of the account registration.
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Multiple Profiles</li>
			</ol>
			<p class="policy__text">
				Each Musician is only entitled to one account corresponding to his or her email address. However, the Musician may register multiple Group or Ensemble profiles. Live Musically reserves the right to limit the number of profiles Musicians may register if the additional profiles result in too much duplicative content on the platform.
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Groups/Ensembles</li>
			</ol>
			<p class="policy__text">
				In the event you are registering an account on behalf of a Group/Ensemble, you agree that your representations, warranties and agreements under these Terms are being made on behalf of yourself individually and all members of the Group/Ensemble. In furtherance of the foregoing, you represent and warrant that all members of the Group have read and agree to these Terms.
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Account Responsibilities</li>
			</ol>
			<p class="policy__text">
				Users, not Live Musically, are solely responsible for maintaining the security of your account. Users are solely liable for any and all text, audio, videos, photos, or data (together, “Content”) on your account, whether or not you authorized such activity. You are also solely responsible for making sure account information is truthful, accurate, and updated.
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Financial Responsibilities</li>
			</ol>
			<p class="policy__text">
				Users are solely responsible for reporting all income made through the use of Live Musically’s Services for tax purposes.  Live Musically does not issue any tax documentation to Users.
			</p>
		</div>

		<div class="policy__section">
			<p class="policy__subheader">For Employers:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Registration</li>
			</ol>
			<p class="policy__text">
				Although some functionality of the platform is available for use without Registration, Registration is required to access certain functionalities such as the Hire functionality. To register a user profile, you must provide us with:
			</p>
			<ol class="policy__ordered-list policy__ordered-list--roman-numeral">
				<li>
					A valid email address and password, Facebook account, or Stripe account. The email address and password, Facebook account, or Stripe account that you provide will act as your sign-in credentials to access your account.
				</li>
				<li>Legal name. This name will be displayed to other Users.</li>
				<li>Profile Picture. This will act as a visual representation of you to other Users.</li>
				<li>Company Name (if applicable). This will be displayed to other Users.</li>
				<li>Zip code. This allows us to connect you with Musicians near your home location.</li>
				<li>
					Information. This acts as your biography and helps Musicians learn more about you. This information will be valuable for Musicians when deciding if an Opportunity is the right fit.
				</li>
				<li>
					Payment Method and Information. This will be used to hire and pay for Musicians. In typical cases, Live Musically will receive a service charge and/or posting fee.
				</li>
			</ol>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Payment Information</li>
			</ol>
			<p class="policy__text">
				Employers will be asked to register a bank account, credit card, or Stripe account information with Live Musically before you can Hire a Musician. This allows Live Musically to hold funds for the Services provided by Musicians for the Opportunity you provided. To add Payment Information to your Profile, you may provide us with:
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>
					Stripe Account Information. This may be the email address associated with your Stripe account, or you may be asked to log in and connect your Stripe account. By using this service, you expressly agree to the terms and conditions of the 
					<%= link_to "Stripe Services Agreement", "https://stripe.com/legal", target: "_blank" %> and the 
					<%= link_to "Stripe Privacy Policy", "https://stripe.com/privacy", target: "_blank" %>, as well as any updates or modifications to either of those documents made from time to time by Stripe.
				</li>
			</ol>
			<p class="policy__text">Please consult our Privacy Policy if you have any questions about how we will use information you submit.</p>
		</div>

		<div class="policy__section">
			<p class="policy__subheader">For Both Employers and Musicians:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Account Responsibilities</li>
				<p class="policy__text policy__text--within-list">
					Users, not Live Musically, are solely responsible for maintaining the security of your account. Photos, or data (together, “Content”) on your account, whether or not you authorized such activity. Users are also solely responsible for making sure account information is truthful, accurate, and updated.
				</p>
				<li>Closing or suspending your account</li>
				<p class="policy__text policy__text--within-list">
					Live Musically reserves the right to suspend or close your account at any point in time for any reason, without notice or liability. If your account has been compromised or you would like to close an account, please notify Live Musically at team@live-musically.com. You have the right to close your account at any time.
				</p> 
				<li>Subject to Terms and Conditions</li>
				<p class="policy__text policy__text--within-list">Any and all activity on your account remains subject to these Terms and Conditions.</p>
			</ol>
		</div>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Your Use of Our Services</h4>
		<div class="policy__section">
			<p class="policy__subheader">For Both Employers and Musicians:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>License Granted by Us</li>
			</ol>
			<p class="policy__text">
				Through your registration and compliance with our Terms, Live Musically grants you a limited license to access our Services. This license only applies to personal use of our Services; the license does not include reproducing, copying, duplicating, selling, or any commercial use of our Services whatsoever unless express written consent is given by Live Musically. This license is rendered null upon any unauthorized use of our Services.
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Code of Conduct</li>
			</ol>
			<p class="policy__text">You are solely liable for any and all activity on your account, whether or not such activity was authorized. Users agree that:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>
					Any form of communication that is deemed abusive, culturally or ethnically offensive, defamatory, indecent, obscene, profane, racist, or sexually explicit content is strictly prohibited.
				</li>
				<li>Your use of our Services is consistent with any and all applicable laws and regulations.</li>
				<li>
					Your activity does not promote violence, terrorism, illegal acts, or hatred on the basis of sexual orientation, gender, ethnicity, culture, or religion.
				</li>
				<li>
					You will not transmit in any fashion any material that contains software viruses, Trojan horses, malware, or any other computer code or files which will disrupt the functionality of any of Live Musically’s Services.
				</li>
				<li>
					You will not post, copy, reproduce, or distribute in any fashion copyrighted content or other proprietary information without the prior consent of the Content’s owner.
				</li>
				<li>You will not represent yourself in Live Musically as anyone other than yourself or falsify your identity in any way.</li>
				<li>
					You will maintain current and accurate contact information on your profile. Live Musically may edit or remove any information at any time.
				</li>
				<li>You will not use another User’s account or personal information without her or his express permission.</li>
				<li>You will not threaten, stalk, or otherwise harass any person in any way.</li>
				<li>
					You will not use our Services to advertise or solicit to others or harvest personal information from other Users for commercial use of any kind.
				</li>
				<li>
					You will not use our Services to spam, “troll”, or otherwise disrupt the experience for other Users or the functionality of our Services in any way.
				</li>
				<li>
					You will not use robots, spiders, or data mining applications of any sort to reproduce or bypass our Services in any way.
				</li>
				<li>
					You will not knowingly disrupt or interfere with our servers or anything related to the functionality of our Services in any way.
				</li>
				<li>
					You will not offer to or in actuality sell, transfer, rent, or lease your account to any other person or third party without prior written consent of Live Musically.
				</li>
				<li>
					If you receive a gig request through Live Musically, you will not attempt to “go outside the platform” by confirming the booking outside of the platform in order to avoid Live Musically receiving a booking fee.
				</li>
				<li>Live Musically has the right, but not the obligation, to supervise and settle disputes between Musicians and Users.</li>
				<li>
					You will not attempt to “game” Live Musically by falsely inflating “likes”, ratings, or other positive measures for Musicians. Conversely, you may not actively hinder the ability of other Users to participate within our Services.
				</li>
			</ol>
			<p class="policy__text">
				In the event of that you witness breaches of this code of conduct, please notify Live Musically immediately at team@live-musically.com. Live Musically reserves the right to suspend or close your account, as well as edit or take down any content or information made available through our Services.
			</p>
		</div>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Content and Property Rights</h4>
		<div class="policy__section">
			<p class="policy__subheader">For Musicians:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Proprietary Rights of Musicians</li>
			</ol>
			<p class="policy__text">
				As between you and Live Musically, any and all text, audio, sound recordings, compositions, pictures, photos, videos, graphics, messages, comments, reviews, data, or information (together, “Content”) that you submit, upload, publish, or display through our Services is solely owned, controlled and/or operated by you. By accepting these Terms, you acknowledge that Live Musically does not claim any ownership in and has no liability with regards to your Content.
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Our Rights to Your Content</li>
			</ol>
			<p class="policy__text">
				By accepting these Terms, you hereby give Live Musically the right to use, duplicate, reproduce, distribute, digitally transmit, display, perform, share, stream, modify, edit, and/or remove your Content, including all sound recordings and compositions (collectively, “Music”) therein, as is reasonable and appropriate in connection with the Services. This includes, without limitation, the right to (i) use your Content for promotional purposes associated, (ii) publicly perform your Music through our Services, (iii) stream your Music (both interactive and non-interactive), and (iv) make copies of your Music in connection with any of the foregoing. If you believe we have misused your Content, please contact us immediately at team@live-musically.com. The only remedy is that we will remove the pertinent Content from our Services. We are not liable for any misuse otherwise.
			</p>
			<p class="policy__text"> 
				You represent that you either own or control any and all rights in and to all Content as necessary to grant Live Musically the rights described above, including all necessary rights with respect to all Music. You also represent that all Content and Music submitted to or posted on Live Musically was not produced pursuant to any guild or union collective bargaining agreement (e.g., SAG-AFTRA, AFM), and that Live Musically will not owe any residuals, royalties, monies, or other obligations to any guild, union, or musician. Live Musically does not and will not assume any guild or union obligations.  Here are two examples where you must either own or control any content rights: 
			</p>
			<ol class="policy__ordered-list policy__ordered-list--bulleted">
				<li>
					If you wrote a song with other people (including members of your group) or if a piece of your Music is based on an existing third party song, you are agreeing that you have either acquired all of the rights of the other songwriters, received the other songwriters’ express permission to post the music to our Services, or have received express permission to post the music to our Services from the owners of the song’s publishing rights.
				</li>
				<li>
					If you are signed to a record label and that label owns your sound recordings or publishing rights, you are agreeing that you have your record company’s express permission to post its sound recordings to our Services. You are also agreeing that the sound recording, including all samples or other portions of that sound recording, were not produced under any guild or union contract, including but not limited to any SAG-AFTRA or AFM contract.
				</li>
			</ol>
			<p class="policy__text">
				If you do not have these rights or are unclear, please contact us immediately prior to posting the Content at team@live-musically.com.
			</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Copyright infringement</li>
			</ol>
			<p class="policy__text">
				Without limiting anything in Section 2 above, you may not post any unauthorized copyrighted material that constitutes an infringement of third party rights. Offenders of third party copyright laws are subject to having their accounts terminated, as well as being prosecuted in court by the owner of such copyrighted Content.
			</p>
			<p class="policy__text">
				If you are a third party content owner who believes that any piece of Content uploaded by a User infringes upon your copyrights, we will respond promptly to any properly submitted notice containing the information detailed below. Pursuant to Title 17, United States Code, Section 512(c)(2), written notifications of claimed copyright infringement should be sent to our Designated Agent at the following contact information: team@live-musically.com.
			</p>
			<p class="policy__text">To be effective, the notification must be a written communication that includes the following:</p>
			<ol class="policy__ordered-list policy__ordered-list--bulleted">
				<li>
					A physical or electronic signature of person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;
				</li>
				<li>
					Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;
				</li>
				<li>
					Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;
				</li>
				<li>
					Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number, and if available, an electronic mail address at which the complaining party may be contacted;
				</li>
				<li>
					A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;
				</li>
				<li>
					A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
				</li>
			</ol>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Liability and Risk of Content</li>
			</ol>
			<p class="policy__text">By accepting these Terms and Conditions, you acknowledge that full liability and risk of posted Content lie with the User.</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Reposting of Content</li>
			</ol>
			<p class="policy__text">You may not repost another User’s Content without that said User’s permission.</p>
		</div>
		
		<div class="policy__section">
			<p class="policy__subheader">For Both Employers and Musicians:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>Proprietary Rights of Live Musically</li>
				<p class="policy__text policy__text--within-list">
					While Live Musically grants Users a limited license to access our Services upon registration, Live Musically maintains ownership and all proprietary rights to all facets of our Services, including but not limited to our logo, name, features, interfaces, code, APIs, and web domains. Users are not permitted to use, reproduce, duplicate, publish, distribute, or display Live Musically’s proprietary Services without our express written consent.
				</p>
				<li>Privacy Policy</li>
				<p class="policy__text policy__text--within-list">By accepting these Terms and Conditions, you also accept our Privacy Policy. Please review our Privacy Policy for relevant information here.</p>
			</ol>
		</div>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Hiring</h4>
		<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
			<li>Who Can Hire</li>
			<p class="policy__text policy__text--within-list">
				All Employers that have completed the registration process and have provided valid payment information have the ability to confirm Opportunities with approved Musician accounts.
			</p>
			<li>How Employers Can Hire</li>
			<p class="policy__text policy__text--within-list">Employers can Hire Musicians in Two Ways:</p>
			<ol class="policy__ordered-list policy__ordered-list--latin-alphabet">
				<li>Post a Public Opportunity (Multiple Musicians Apply)</li>
				<li>
					Through this manner of Hiring, Employers provide the a number of event details before “Posting” the opportunity. When a job is posted, relevant Musicians will be notified, and any Musicians with a completed Live Musically Musician Account may apply for the opportunity. A Employer may chat with any submitted Musicians, select a Musician to hire, and confirm the Opportunity.
				</li>
			</ol>
			<ol class="policy__ordered-list policy__ordered-list--latin-alphabet">
				<li>Send a Private Opportunity (One-to-One)</li>
				<li>
					Through this manner of Hiring, Employers provide the a number of event details before sharing the Opportunity privately with a Musician. Musicians and Employers may chat about the Opportunity details before a Musician either confirms or declines the Opportunity.
				</li>
			</ol>
		</ol>
		<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
			<li>Binding contract</li>
		</ol>
		<p class="policy__text">
			Once a Employer or Musician confirm the Hire, the Employer and Musician enter into a binding contract. A Employer may confirm the Hire through “Post an Opportunity” by selecting a Musician who has submitted an application. A Musician may confirm a Private Opportunity by accepting a Opportunity Request within the platform. Once confirmed, the Employer and Musician are contractually bound with the following mutually agreed upon conditions:
		</p>
		<ol class="policy__ordered-list policy__ordered-list--roman-numeral">
			<li>
				Opportunity Date and Time. The job date and time are set upon confirmation of the job request.
			</li>
			<li>
				Opportunity Duration. The Musician will play or teach for the amount of time agreed upon during the Opportunity request process.
			</li>
			<li>
				Opportunity Location. The event location is set upon confirmation of the Opportunity request.
			</li>
			<li>
				Platform Fee. The platform fee (hereinafter, “Fee”) is to be paid by the Employer.
			</li>
			<li>
				Modification of Date, Time, Duration, Location, or Fee. The job location, job date and time, duration of the job, and Fee paid to the Musician may be modified following a confirmed job request if both parties have agreed to the change. The change will not be reflected in Live Musically until both parties have agreed to modify the confirmed gig details through our Employer/Musician dialogue interface, and emailed us at team@live-musically.com.
			</li>
			<li>
				Additional time for Musician. Should the Employer desire that the Musician performs or teaches for longer than the agreed upon duration, the Employer must submit the extra payment and duration request via email at team@live-musically.com or through the platform interface. Any transactions occurring outside of the Live Musically platform between the Employer and Musician for jobs set up through our Services are not permitted and subject to termination of the license granted by Live Musically for our Employers and Musicians.
			</li>
			<li>
				Additional Consideration for Musician. Should the Employer desire to compensate musician with additional or alternative consideration, including a bar tab or a percentage of admission fees charged by the venue, the Employer and Musician may agree to this consideration within the chat functionality of the platform. Such agreements will be considered incorporated into this Employer-Musician contract.
			</li>
			<li>
				Employer’s responsibilities. Unless otherwise agreed upon in a separate contract a confirmed Live Musically booking imposes the following responsibilities on the booking Employer:
			</li>
			<ol class="policy__ordered-list policy__ordered-list--latin-alphabet">
				<li>
					Adequate power supply. The Employer must provide an adequate power supply for the Musician.
				</li>
				<li>
					Safety from weather. The Employer must provide an area with dry and safe enough conditions such that the Musician can perform without fear of damage to musical instruments, electrical equipment, being electrocuted, or any threat to personal safety of any kind due to weather.
				</li>
				<li>
					Volume levels. The Employer is responsible for ensuring that the volume levels during the Musician’s performance are compliant with the Event Location’s local noise ordinances. If the event is shut down by local authorities due to noise violations, neither Live Musically nor the Musician are liable for noise disturbance or complaints in the surrounding area.
				</li>
				<li>
					Damage to Musician’s equipment. The Employer is liable for all physical damage to the Musician’s equipment caused by the Employer, a guest of the Employer, or any third parties associated with the Employer’s event.
				</li>
				<li>
					Liability of event guests, third parties. All liability for the actions of any guests of or third parties associated with the event lies with the Employer.
				</li>
				<li>
					Breaks. User must permit the Musician to take up to a 10 minute break for each hour of performance or teaching.
				</li>
				<li>
					Interference with Musician. The Employer and any event attendees or third parties must not interfere with the Musician’s performance. If any guests harass, threaten, berate, physically or verbally harm, or otherwise interfere with the Musician, the Musician has the right to stop playing music and end the gig early, without refund to the Employer.
				</li>
			</ol>
			<li>
				Musician’s responsibilities. A confirmed Live Musically booking imposes the following responsibilities on the Musician:
			</li>
			<ol class="policy__ordered-list policy__ordered-list--latin-alphabet">
				<li>
					Electronics malfunctions. The Musician is responsible for electronics malfunctions that prohibit the Musician from successfully performing unless caused by damage from the Employer or any attendees of the event.
				</li>
				<li>
					Mistreatment of event guests and third parties. The Musician may not harass, threaten, berate, or otherwise physically or verbally harm event guests or third parties at the event.
				</li>
				<li>
					Damage to User’s property. The Musician will not purposely or recklessly damage personal property of the Employer.
				</li>
				<li>
					Communication with Employer. It is the responsibility of the Musician to ensure that the Employer will receive the desired performance or lesson. Prior to confirmation of the job request, the Musician must communicate through Live Musically with the Employer in regards power requirements, sound equipment, setup time, space, number of guests, food and drink, weather considerations, dress code, and any other requirements or information pertinent to the Musician’s successful performance.
				</li>
			</ol>	
			<li>
				Safety at job. Both the Employer and the Musician are responsible to maintaining a safe and lawful environment for all guests at the event.
			</li>
			<li>
				Limitation of liability. For any confirmed booking, the most a Employer or Musician can claim damages for is the total agreed upon booking amount.
			</li>
			<li>
				Falsified jobs. Jobs falsified with the intent of inflating ratings, arranging payment outside of Live Musically for a job created through Live Musically, or for any reason whatsoever are strictly prohibited.
			</li>
			<li>
				Live Musically is not liable. If any of the terms listed above and agreed upon in regards to the binding contract between the Employer and Musician are violated, Live Musically assumes no liability or responsibility of any kind whatsoever. Live Musically accepts no liability for damages caused by Musician no-shows, late-shows, or cancellations. Furthermore, Live Musically assumes no liability in disputes between the Employer and the Musician of any sort.
			</li>
			<li>
				Violation of binding contract. If any of the terms agreed upon in the binding contract between the Employer and Musician are violated or inappropriate behavior has been displayed in the reasonable view and discretion of Live Musically, we reserve the right to suspend or close the account of the party involved without warning, with or without refund. Live Musically also reserves the right to disallow Musician payment for the performance.
			</li>
			<li>
				Dispute resolution. Please contact us at  team@Live Musically.com  if you have any questions, issues, or concerns in regards to the Employer and Musician agreement and binding contract as outlined in the section above.  As set forth in the section entitled Arbitration Exclusive Remedy, below, you agree to submit any dispute with Live Musically to binding arbitration.
			</li>
			<li>
				Going “Outside Live Musically.” In the event that Live Musically provides Employers the contact information of Musicians, Employers may call or email the musicians to work out details. During the course of these conversations, if a Employer decides to contract with a Musician outside of Live Musically, Live Musically releases all responsibility related to the Musician and the Event, and the Live Musically Employer-Musician Contract is not enforceable in any way.
			</li>
		</ol>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Cancellation Policy</h4>
		<div class="policy__section">
			<p class="policy__subheader">For Musicians:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>No cancellation allowed. The Musician may not cancel a confirmed job at any point.</li>
				<li>If a Musician cancels a confirmed opportunity at any point:</li>
				<ol class="policy__ordered-list policy__ordered-list--latin-alphabet">
					<li>
						While Live Musically will do its best to accommodate the cancellation, the Employer is responsible for finding a replacement Musician.
					</li>
					<li>
						Live Musically reserves the right to make cancellations negatively affect a Musician’s visibility in both Browse and Hiring modes.
					</li>
					<li>
						Monitoring of cancellations, no-shows, late-shows. Live Musically will keep track of all cancellations, no-shows (not showing up for confirmed event that hasn’t been cancelled through Live Musically), and late-shows (not ready to perform or teach at scheduled start time.) Accumulation of these statistics may decrease the likelihood that the Musician will appear in Browse and Hiring. Live Musically will strongly consider closing a Musician’s account upon the accumulation of more than 2 combined cancellations, no-shows, or late-shows.
					</li>
				</ol>
			</ol>
		</div>

		<div class="policy__section">
			<p class="policy__subheader">For Employers:</p>
			<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
				<li>
					Edits and modifications to request. Employers may cancel, edit, or modify a job request that has not been accepted by the Musician at any point.
				</li>
				<li>
					Not within 7 days. Employers may not cancel a confirmed job within 7 days of the job date and time. This means that jobs booked within 7 days of the event date and time may not be cancelled.
				</li>
				<li>
					Not within 30 days if payment exceeds $999. Employers may not cancel a confirmed job within 30 days of the event date and time if the total fee to be charged to the Employer is greater than $999. This means that jobs scheduled within 30 days of the job date and time with a total fee of $1,000 or greater may not be cancelled.
				</li>
				<li>
					Cancelling. In order to cancel a job, Employers must email team@live-musically.com requesting the cancellation.
				</li>
				<li>
					If conditions are not met. If Employers do not follow the conditions of our cancellation policy, they will be charged the full hiring fee for the originally agreed-upon event. Violations of our cancellation policy will be tracked and visible to the Musician upon receiving a job request.
				</li>
			</ol>

			<div class="policy__section">
				<p class="policy__subheader">For Both Employers and Musicians:</p>
				<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
					<li>Extenuating circumstances</li>
					<p class="policy__text policy__text--within-list">
						In the case of extenuating circumstances that cause a User to violate our Cancellation Policy, please email us at  team@live-musically.com. Live Musically will use our best and most reasonable judgment in these cases to come to fair solution for all parties involved.
					</p>
					<li>Other Compensation and Modifications</li>
					<p class="policy__text policy__text--within-list">
						Employers and Musicians may agree to other compensation or modifications to Live Musically’s standard Employer-Musician contract by agreement in writing via the Live Musically app and platform. Messages outside the Live Musically app and platform will not be considered an addendum or modification to the standard contract.
					</p>
				</ol>
			</div>
		</div>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Payment</h4>
		<ol class="policy__ordered-list policy__ordered-list--arabic-numeral">
			<li>Credit card information</li>
			<p class="policy__text policy__text--within-list">
				Employers’ Credit card information is required to complete a booking request. Credit card information will be collected, but the card will not be charged until the cancelation policy takes effect. This means that an event with a total budget $1,000 or greater will be charged in full 30 days prior to the event, and an event under $1,000 in budget will be charged 7 days prior. In the event a credit card cannot be provided as payment information, Live Musically may utilize other payment methods that ensure the Musician’s compensation within a reasonable timeframe from the successful completion of a job.
			</p>
			<li>24-Hour Dispute Period</li>
			<p class="policy__text policy__text--within-list">
				An Employer has 24-hours after an event has been completed to dispute or file for a refund, after which point the transaction will be final and the payment process to the Musician will continue. A dispute can be filed by emailing team@live-musically.com.
			</p>
			<li>Reception of Payment</li>
			<p class="policy__text policy__text--within-list">
				The Employer’s card will be charged when a Musician is Hired, and the Musician’s account will be credited after the 24-hour Dispute Period has passed.  Payouts to connected bank accounts are issued on a bi-weekly basis, with the exception of any pending disputes.
			</p>
			<li>“Free” jobs</li>
			<p class="policy__text policy__text--within-list">Because there is a payment minimum, Live Musically does not allow for “free” jobs.</p>
			<li>Violation of Cancellation Policy</li>
			<p class="policy__text policy__text--within-list">
				If a Employer violates our Cancellation Policy, the Employer’s card will still be charged and the Musician will be paid at the time of completion of the originally agreed-upon event.
			</p>
			<li>Additional performance time for Musicians</li>
			<p class="policy__text policy__text--within-list">Please reference the section above procedures regarding payment to Musician for extending performance duration.</p>
		</ol>
		
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Arbitration Exclusive Remedy</h4>
		<p class="policy__text">
			By agreeing to these Terms of Service, you agree that, in the event of any dispute between you and Live Musically arising out of or relating to this agreement (including but not limited to disputes regarding any browsing, hiring, fee, content or those alleging negligence, fraud or any claim based upon a statute), such dispute shall be resolved by submission to binding arbitration in accordance with the laws of the State of Delaware, under the auspices of the International Centre for Dispute Resolution (“ICDR”).
		</p>
		<p class="policy__text">
			In any such arbitration, the parties shall be entitled to take discovery in accordance with the provisions of the laws of the State of Delaware, but either party may request that the arbitrator limit the amount or scope of such discovery, and in determining whether to do so, the arbitrator shall balance the need for the discovery against the parties’ mutual desire to resolve disputes expeditiously and inexpensively.
		</p>
		<p class="policy__text">
			The prevailing party in any action, arbitration, or proceeding arising out of or to enforce any provision of this Agreement will be awarded reasonable attorneys’ fees and costs incurred in that action, arbitration, or proceeding, or in the enforcement of any judgment or award rendered.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Limitation of Liability</h4>
		<p class="policy__text">
			In no situation will Live Musically’s have any liability for damages. Live Musically will have no liability for any damage or loss:
		</p>
		<ol class="policy__ordered-list policy__ordered-list--roman-numeral">
			<li>Deriving from your inability to access any of our services, content, or related parts.</li>
			<li>Related to your computer hardware, software, or data, including damage or loss from a security breach</li>
			<li>
				From any legal action whatsoever against you, whether the investigated is conducted by Live Musically or any law enforcement agent or agency.
			</li>
			<li>Deriving from any modifications or changes made to our services.</li>
			<li>Related to any temporary or permanent suspension of access to our services or content for any reason.</li>
			<li>From any errors, “bugs”, or inaccuracies found in our services or related content.</li>
			<li>Of profits, opportunity, or goodwill, directly or indirectly.  </li>
			<li>Relating to indirect, incidental, special, punitive, or consequential damages.</li>
		</ol>
		<p class="policy__text">
			By accepting these terms, you accept the risk of damage or loss of any kind. Live Musically must be notified immediately in the event of any claim related to your use of our services. These terms shall be exercised to their full effect as is acceptable and permitted by law. Live Musically’s limited liability pertains to all our employees, affiliates, directors, officers, or subsidiaries.
		</p>
	</section>
	
	<section class="policy__section">
		<h4 class="policy__header">Applicable Law and Jurisdiction</h4>
		<p class="policy__text">
			In accepting our Terms and using our Services, you acknowledge that these Terms will be governed by and enforced in accordance with the laws of the State of Delaware, and the federal laws of the United States, without giving effect to principles of conflicts of laws. Any dispute between you and us, whether or not arising out of these Terms or the performance thereof, shall be determined by one arbitrator in binding arbitration administered by the International Centre For Dispute Resolution (“ICDR”) pursuant to its international arbitration rules. Any hearing shall be held in Dover, Delaware, U.S.A.  The language of the arbitration shall be English, and all documents shall be submitted in English.  Any witnesses or parties residing more than 100 miles from the site of the hearings may testify by telephone, video conference or other real-time audio/visual telecommunications medium.  The award of the arbitrator shall be final and binding on the parties, and may be entered and enforced in any court or tribunal of competent jurisdiction. Either party may apply to the arbitrator) or directly to the ICDR if the arbitrator has not been formally appointed) for emergency, interim, provisional, temporary or permanent injunctive relief.  Either party also may, without waiving any remedy under these Terms, seek from any court having jurisdiction any interim or provisional relief that is necessary to protect the rights or property of that party, pending the establishment of the arbitral tribunal, or pending the arbitral tribunal’s determination of the merits of the controversy.  In any award, the arbitrator shall have the right to alter, amend or dissolve any injunctive relief previously granted by a court. You also acknowledge that the only remedy for any breach of these Terms by Live Musically or third party of any kind is monetary damages as outlined by our Limitation of Liability section in these Terms, and that you waive any and all rights to injunctive or other forms of equitable relief of any kind from or against Live Musically.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Indemnity</h4>
		<p class="policy__text">
			In accepting these Terms and using our Services, you agree to indemnify, save, defend, and hold harmless Live Musically, our employees, affiliates, directors, officers, and subsidiaries from any claims, damages, demands, losses, costs, expenses, and reasonable attorney fees arising from your use of Our Services, any breach of our Terms, any third party copyright infringement, or any activity from your account.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Disclaimer of All Warranties and Assumption of Risk</h4>
		<p class="policy__text">
			Live Musically’s services are provided “as is”, “as available”, and "with all faults”, without warranties of any kind, express or implied. This pertains to, but is not limited to, warranties of accuracy, truth, reliability, completeness, non-infringement, timeliness, security, damages, losses, or any and all implied warranties of merchantability or fitness for a particular purpose regarding our services. For situations in which state law prohibit or have limitations on the disclaimer of implied or other warranties listed in these terms, state law has jurisdiction over these terms and these disclaimers may not apply to you. You acknowledge that your use of our services is at your own, sole risk.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Insurance Liability</h4>
		<p class="policy__text">
			Users are responsible for obtaining and maintaining public and comprehensive liability insurance from the moment of the confirmed booking until the last transaction related to the booking is completed, similar to the amount used by venues and other hosts for public events or live performances.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Severability</h4>
		<p class="policy__text">
			If any provision in these Terms is deemed illegal, unenforceable or invalid, that shall not affect the legality, enforceability, or validity of any remaining provision in these Terms.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Third Party Agreements</h4>
		<p class="policy__text">
			Through our Services you may encounter features that grant you access to third party websites, databases, servers, programs, software, information, applications, or other similar services (together, “Third Party Services” or “Their”). When you use these Third Party Services, you may be subject to their own terms and conditions, privacy policy, and other requirements related to their use. Live Musically is not responsible or liable for the accuracy, legality, or quality of any of Their content or operation in any way, and does not express any warranty or endorsement of any kind related to Third Party Services. These Third Party Services are used solely to facilitate your access to and use of Live Musically. You use these Third Party Services at your own risk.
		</p>
	</section>


	<section class="policy__section">
		<h4 class="policy__header">Changes to our Services</h4>
		<p class="policy__text">
			Live Musically may modify, edit, update, or make changes of any kind to our Services at any time without prior warning by posting an updated Terms of Service on our website. You can always check the “Last Updated” date at the top of this document to see when the Terms of Service was last changed.  We encourage you to check these Terms from time to time. Your continued use of our website and/or Services following the posting of an updated Terms of Service constitutes your consent to the contents of such Terms. IF YOU DO NOT AGREE TO FUTURE CHANGES TO THESE TERMS, YOU MUST STOP USING OUR WEBSITE AND SERVICES AFTER THE EFFECTIVE DATE OF SUCH CHANGES.  Please note that upon leaving the Services, any Terms of Service in effect immediately prior to your leaving shall continue to be binding on you.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Notices</h4>
		<p class="policy__text">
			Notifications regarding important changes, information, or updates related to our Services will be sent via email to the email you provided upon registration.
		</p>
	</section>

	<section class="policy__section">
		<h4 class="policy__header">Questions</h4>
		<p class="policy__text">If you have any questions about these Terms or about the Services, please contact us at team@live-musically.com.</p>
	</section>
</div>